<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Opret medarbejder</title>
</head>
<body>

<form action="#" th:action="@{/addEmployee}" th:object="${employee}" method="POST">
    <p>Employee name: <input type="text" th:field="*{name}" ></p>
    <input type="submit" value="Tilføj medarbejder" class="btn add"/>
</form>
</body>
</html>